<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FiltroSesion</filter-name>
        <filter-class>filtros.FiltroSesion</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroIndex</filter-name>
        <filter-class>filtros.FiltroIndex</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroAdmin</filter-name>
        <filter-class>filtros.FiltroAdmin</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroCompartir</filter-name>
        <filter-class>filtros.FiltroCompartir</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroAdmin</filter-name>
        <url-pattern>/FeedServlet</url-pattern>
        <url-pattern>/EliminarCuentaServlet</url-pattern>
        <url-pattern>/Modificable</url-pattern>
        <url-pattern>/ModificarCuentaServlet</url-pattern>
        <url-pattern>/AmigosServlet</url-pattern>
        <url-pattern>/EliminarAmigo</url-pattern>
        <url-pattern>/ObtenerDatosAmigo</url-pattern>
        <url-pattern>/AgregarAmigo</url-pattern>
        <url-pattern>/FotosServlet</url-pattern>
        <url-pattern>/ModificarFotoPerfilServlet</url-pattern>
        <url-pattern>/InsertarFotoServlet</url-pattern>
        <url-pattern>/InsertarModificarEliminarPost</url-pattern>
        <url-pattern>/AgregarEliminarLike</url-pattern>
        <url-pattern>/GustosServlet</url-pattern>
        <url-pattern>/InsertarMensaje</url-pattern>
        <url-pattern>/ChatServlet</url-pattern>
        <url-pattern>/frames/*</url-pattern>
        <url-pattern>/amigos.jsp</url-pattern>
        <url-pattern>/ayuda.jsp</url-pattern>
        <url-pattern>/feed.jsp</url-pattern>
        <url-pattern>/gustos.jsp</url-pattern>
        <url-pattern>/fotos.jsp</url-pattern>
        <url-pattern>/perfil.jsp</url-pattern>
        <url-pattern>/preguntasecreta.jsp</url-pattern>
        <url-pattern>/datosamigo.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroIndex</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroSesion</filter-name>
        <url-pattern>/ControladorServlet</url-pattern>
        <url-pattern>/FeedServlet</url-pattern>
        <url-pattern>/DestruirSesionServlet</url-pattern>
        <url-pattern>/EliminarCuentaServlet</url-pattern>
        <url-pattern>/Modificable</url-pattern>
        <url-pattern>/ModificarCuentaServlet</url-pattern>
        <url-pattern>/AmigosServlet</url-pattern>
        <url-pattern>/EliminarAmigo</url-pattern>
        <url-pattern>/ObtenerDatosAmigo</url-pattern>
        <url-pattern>/AgregarAmigo</url-pattern>
        <url-pattern>/FotosServlet</url-pattern>
        <url-pattern>/ModificarFotoPerfilServlet</url-pattern>
        <url-pattern>/InsertarFotoServlet</url-pattern>
        <url-pattern>/InsertarModificarEliminarPost</url-pattern>
        <url-pattern>/AgregarEliminarLike</url-pattern>
        <url-pattern>/GustosServlet</url-pattern>
        <url-pattern>/InsertarMensaje</url-pattern>
        <url-pattern>/ChatServlet</url-pattern>
        <url-pattern>/frames/*</url-pattern>
        <url-pattern>/amigos.jsp</url-pattern>
        <url-pattern>/ayuda.jsp</url-pattern>
        <url-pattern>/feed.jsp</url-pattern>
        <url-pattern>/gustos.jsp</url-pattern>
        <url-pattern>/fotos.jsp</url-pattern>
        <url-pattern>/perfil.jsp</url-pattern>
        <url-pattern>/preguntasecreta.jsp</url-pattern>
        <url-pattern>/datosamigo.jsp</url-pattern>
        <url-pattern>/AdminServlet</url-pattern>
        <url-pattern>/panel_admin.jsp</url-pattern>
        <url-pattern>/admin_usuario.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroCompartir</filter-name>
        <url-pattern>/CompartirServlet</url-pattern>
        <url-pattern>/compartir/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
