/*
CSS que aplica el diseño a las páginas web.
*/
/* 
    Created on : 04-nov-2015, 10:17:40
    Author     : andrew
*/
body {
    color: #0b300b;
    /*font-weight: bold;*/
    font-family: "Verdana";
    font-size: 100%;
    text-align: center;
    
}

fieldset {
    border: 5px groove darkgreen;
    border-radius: 10px;
    margin: 5px;
    background-color: rgba(204, 229, 255, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

legend {
    font-size: 130%;
    font-weight: bold;
}

#link {
    visibility: hidden;
}

p.right {
    text-align: right;
}

p.left {
    text-align: left;
}

a, #boton, #botonreset {
    text-decoration: none;
    color: white;
    border-width: 3px;
    border-style: outset;
    border-color: white;
    border-radius: 7px; 
    background-color: darkgreen;
    padding: 2px;
    margin: 1px;
    font-size: 14px;

    transition-duration: .9s;
    transition-timing-function: ease;
    -webkit-transition-duration: .9s;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: .9s;
    -moz-transition-timing-function: ease;
    -ms-transition-duration: .9s;
    -ms-transition-timing-function: ease;
}

a:hover, #boton:hover, #botonreset:hover {
    background-color: white;
    color: darkgreen;
    border-color: darkgreen;
    cursor: pointer;
    
    transition-duration: .9s;
    transition-timing-function: ease;
    -webkit-transition-duration: .9s;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: .9s;
    -moz-transition-timing-function: ease;
    -ms-transition-duration: .9s;
    -ms-transition-timing-function: ease;
}

textarea, input {
    border: 2px inset darkgreen;
    margin: 1px;
    padding: 2px;
    resize: none;
    background-color: transparent;
    color: black;
}

header {
    background-color: darkgreen;
    width: 100%;
    height: 20%;
    margin: 5px;
}